body {
    margin: 0;
}

.header {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
}

.logo, .menu-icon, .cart-icon, .user-icon {
    display: flex;
    align-items: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.menu-icon img, .cart-icon img, .user-icon img {
    height: 20px;
    background-color: #333333;
    border-radius: 3px;
    padding: 5px;
    -webkit-tap-highlight-color: transparent;
}

.menu-icon img:active, .cart-icon img:active, .user-icon img:active {
    background-color: #0982AD;
}

.icon-group {
    display: flex;
    align-items: center;
}

.user-icon {
    margin-left: 10px;
}
