body {
    margin: 0;
}

.header {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 20px;
}

.logo, .menu-icon, .cart-icon, .user-icon {
    display: flex;
    align-items: center;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.logo {
    width: 40px; /* Adjust width to fit your logo */
    height: 40px;
    background-image: url('https://assets.market-storefront.envato-static.com/storefront/assets/logos/codecanyon-f02914a18facfc9c3d14d4028cd87731c1541c11c16a891831b8bce05f92b4d8.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.menu-icon {
    width: 20px;
    height: 20px;
    background-image: url('https://i.ibb.co/hCtgJ1k/menu-custom.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.cart-icon {
    width: 20px;
    height: 20px;
    background-image: url('https://i.ibb.co/t80MDd1/cart-custom.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.user-icon {
    width: 20px;
    height: 20px;
    background-image: url('https://i.ibb.co/6RJdRMQ/account-custom-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
}

.menu-icon:active, .cart-icon:active, .user-icon:active {
    background-color: #0982AD;
}

.icon-group {
    display: flex;
    align-items: center;
}
