body {
            margin: 0;
        }

        .header {
            background-color: hsla(0, 0%, 13%, 0.95);
    backdrop-filter: blur(10px);
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            z-index: 1000;
            top: 0;
            position: fixed;
            width: 100%;
            max-width: calc(100% - 40px);
        }

        .logo, .menu-icon, .cart-icon, .user-icon {
            display: flex;
            align-items: center;
            outline: none;
            -webkit-tap-highlight-color: transparent;
        }

        .logo img {
            height: 40px;
        }

        .menu-icon img, .cart-icon img, .user-icon img {
            height: 20px;
            background-color: #333333;
            border-radius: 3px;
            padding: 5px;
            -webkit-tap-highlight-color: transparent;
        }

        .menu-icon img:active, .cart-icon img:active, .user-icon img:active {
            background-color: #6fad3d;
        }

        .icon-group {
            display: flex;
            align-items: center;
        }

        .user-icon {
            margin-left: 10px;
        }